<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Accueil</a></li>
      <li class="nav-item"><a href="/certification" class="nav-link px-2 text-body-secondary">Certification</a></li>
      <li class="nav-item"><a href="/login" class="nav-link px-2 text-body-secondary">Connexion</a></li>
      
      
    </ul>
    <p class="text-center text-body-secondary">© 2024 Evolu, Inc</p>
  </footer>